<h1 style="margin: 20px 0px 0px 40px">Tenants</h1>

<mat-card style="margin: 20px 40px 40px 40px">
  <mat-card-title>
    <button mat-raised-button color="primary" (click)="newTenant()">
      <mat-icon mat-list-icon>add</mat-icon>New Tenant
    </button>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content class="dashboard-card-content">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input />
    </mat-form-field>

    <mat-checkbox (change)="toggleActiveFilter($event.checked)">
      Show only active tenants
    </mat-checkbox>
    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="tenantDataList">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Tenant Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="occupation">
          <th mat-header-cell *matHeaderCellDef>Occupation</th>
          <td mat-cell *matCellDef="let element">{{ element.occupation }}</td>
        </ng-container>

        <ng-container matColumnDef="paddress">
          <th mat-header-cell *matHeaderCellDef>Address</th>
          <td mat-cell *matCellDef="let element" style="width: 300px">
            {{ element.paddress }}
          </td>
        </ng-container>

        <ng-container matColumnDef="telephone">
          <th mat-header-cell *matHeaderCellDef>Contact No</th>
          <td mat-cell *matCellDef="let element">{{ element.telephone }}</td>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef>Start Date</th>
          <td mat-cell *matCellDef="let element">{{ element.startDate }}</td>
        </ng-container>

        <ng-container matColumnDef="flatDescription">
          <th mat-header-cell *matHeaderCellDef style="width: 100px">
            Flat Code
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.flatDescription }}
          </td>
        </ng-container>

        <ng-container matColumnDef="isActive">
          <th mat-header-cell *matHeaderCellDef style="width: 100px">Status</th>
          <td mat-cell *matCellDef="let element">
            {{ element.isActive == 1 ? "Active" : "Inactive" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef style="width: 80px"></th>
          <td mat-cell *matCellDef="let element">
            <div style="display: flex; gap: 5px">
              <button
                mat-icon-button
                color="primary"
                (click)="editTenant(element)"
              >
                <mat-icon mat-list-icon>edit</mat-icon>
              </button>

              <button
                mat-icon-button
                color="warn"
                (click)="deleteTenant(element)"
              >
                <mat-icon mat-list-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [colSpan]="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
