<h2 mat-dialog-title>{{ titleCaption }} Flat</h2>
<mat-dialog-content>
  <form [formGroup]="flatForm">
    <mat-grid-list cols="1" rowHeight="80px">
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Flat Code</mat-label>
          <input matInput autocomplete="off" formControlName="code" />
          <mat-icon matSuffix>home</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Rent</mat-label>
          <input matInput autocomplete="off" formControlName="rent" />
          <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Return</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="flatForm.invalid"
    (click)="saveEditFlat()"
  >
    {{ buttonCaption }}
  </button>
</mat-dialog-actions>
