<h1 style="margin: 20px 0px 0px 40px">Flats</h1>

<mat-card style="margin: 20px 40px 40px 40px">
  <mat-card-title>
    <button mat-raised-button color="primary" (click)="newFlat()">
      <mat-icon mat-list-icon>add</mat-icon>New Flat
    </button>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content class="dashboard-card-content">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input />
    </mat-form-field>
    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="flatDataList">
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Flat Code</th>
          <td mat-cell *matCellDef="let element">{{ element.code }}</td>
        </ng-container>

        <ng-container matColumnDef="rent">
          <th mat-header-cell *matHeaderCellDef>Rent</th>
          <td mat-cell *matCellDef="let element">{{ element.rent }}</td>
        </ng-container>

        <ng-container matColumnDef="gasBill">
          <th mat-header-cell *matHeaderCellDef>Gas Bill</th>
          <td mat-cell *matCellDef="let element">{{ element.gasBill }}</td>
        </ng-container>

        <ng-container matColumnDef="cleanerBill">
          <th mat-header-cell *matHeaderCellDef>Cleaner Bill</th>
          <td mat-cell *matCellDef="let element">{{ element.cleanerBill }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef style="width: 80px"></th>
          <td mat-cell *matCellDef="let element">
            <div style="display: flex; gap: 5px">
              <button
                mat-icon-button
                color="primary"
                (click)="editFlat(element)"
              >
                <mat-icon mat-list-icon>edit</mat-icon>
              </button>

              <button
                mat-icon-button
                color="warn"
                (click)="deleteFlat(element)"
              >
                <mat-icon mat-list-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [colSpan]="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
